{% load static %}
<footer class="footer bg-primary py-[120px] text-white">

    <div class="container">
        <div class="grid grid-cols-6 mb-[64px]">
            <div class="">    
                <img src="{% static 'imgs/logo.svg' %}" alt="" class="">
                <p class="mt-9 opacity-70">
                    Data visualization, and
                    expense management
                    for your business.
                </p>
            </div>
           
            <div class="col-start-3">
                <div class="title text-[20px] font-semibold">Product</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>Digital Invoice</div>
                    <div>Insights</div>
                    <div>Reimbursements</div>
                    <div>Virtual Assistant</div>
                    <div>Artificial Intelligence</div>
                </div>
            </div>
            <div class="">
                <div class="title text-[20px] font-semibold">Company</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>About Us</div>
                    <div>Newsletters</div>
                    <div>Our Partners</div>
                    <div>Career</div>
                    <div>Contact Us</div>
                </div>
            </div>
            <div class="">
                <div class="title text-[20px] font-semibold">Resources</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>Blog</div>
                    <div>Pricing</div>
                    <div>FAQ</div>
                    <div>Events</div>
                    <div>Ebook & Guide</div>
                </div>
            </div>
            <div class="">
                <div class="title text-[20px] font-semibold">Follow Us</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>LinkedIn</div>
                    <div>Twitter</div>
                    <div>Instagram</div>
                    <div>Facebook</div>
                    <div>YouTube</div>
                </div>
            </div>
            
        </div>

        <div class="pt-8 border-t border-opacity-50 border-white flex space-x-8 text-lg font-semibold">
            <span class="">Privacy Policy</span>
            <span>|</span>
            <span class="">Terms & Conditions</span>
            <span>|</span>
            <span class="">Cookie Policy</span>
        </div>
    </div>

</footer>