{% load static %}
<footer class="footer bg-primary py-[120px] text-white">

    <div class="container">
        <div class="grid grid-cols-6 mb-[64px]">
            <div class="">
                <img src="{% static 'imgs/logo.svg' %}" alt="" class="">
                <p class="mt-9 opacity-70">
                    {% translate "Data visualization, and
                    expense management
                    for your business." %}
                </p>
            </div>

            <div class="col-start-3">
                <div class="title text-[20px] font-semibold">{% translate "Product" %}</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>{% translate "Digital Invoice" %}</div>
                    <div>{% translate "Insights" %}</div>
                    <div>{% translate "Reimbursements" %}</div>
                    <div>{% translate "Virtual Assistant" %}</div>
                    <div>{% translate "Artificial Intelligence" %}</div>
                </div>
            </div>
            <div class="">
                <div class="title text-[20px] font-semibold">{% translate "Company" %}</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>{% translate "About Us" %}</div>
                    <div>{% translate "Newsletters" %}</div>
                    <div>{% translate "Our Partners" %}</div>
                    <div>{% translate "Career" %}</div>
                    <div>{% translate "Contact Us" %}</div>
                </div>
            </div>
            <div class="">
                <div class="title text-[20px] font-semibold">{% translate "Resources" %}</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>{% translate "Blog" %}</div>
                    <div>{% translate "Pricing" %}</div>
                    <div>{% translate "FAQ" %}</div>
                    <div>{% translate "Events" %}</div>
                    <div>{% translate "Ebook & Guide" %}</div>
                </div>
            </div>
            <div class="">
                <div class="title text-[20px] font-semibold">{% translate "Follow Us" %}</div>

                <div class="space-y-6 opacity-70 mt-8">
                    <div>LinkedIn</div>
                    <div>Twitter</div>
                    <div>Instagram</div>
                    <div>Facebook</div>
                    <div>YouTube</div>
                </div>
            </div>

        </div>

        <div class="pt-8 border-t border-opacity-50 border-white flex space-x-8 text-lg font-semibold">
            <span class="">{% translate "Privacy Policy" %}</span>
            <span>|</span>
            <span class="">{% translate "Terms & Conditions" %}</span>
            <span>|</span>
            <span class="">{% translate "Cookie Policy" %}</span>
        </div>
    </div>

</footer>